<%- include("../../../partials/admin/header.ejs", {
    title: "Cadastro de produtos",
    previusPage: "/admin/products"
}) %>

<main class="main">
    <form action="" method="post" enctype="multipart/form-data" class="form">
        <div class="inp-area">
            <label for="inp-desc">Descrição:</label>
            <input class="inp" type="text" name="desc" id="inp-desc">
            <%- include("../../../partials/errorMsg.ejs", {
                className: "form-error-msg",
                path: "desc"
            }) %>
        </div>
        
        <div class="inp-area">
            <label for="inp-slug">Slug:</label>
            <input class="inp" type="text" name="slug" id="inp-slug">
            <%- include("../../../partials/errorMsg.ejs", {
                className: "form-error-msg",
                path: "slug"
            }) %>
        </div>

        <div class="form-img-grouping">
            <div class="inp-area">
                <label for="inp-large-img" class="img-inp-label large">
                    <img class="label-img disabled">
                    <div class="drag-area">
                        <i class='bx bx-image-add'></i>
                        <p>500x500</p>
                    </div>
                </label>
                <input class="img-inp" type="file" name="largeImg" accept="image/*" id="inp-large-img" hidden>
                <%- include("../../../partials/errorMsg.ejs", {
                    className: "form-error-msg",
                    path: "largeImg"
                }) %>
            </div>
            
            <div class="inp-area">
                <label for="inp-small-img" class="img-inp-label small">
                    <img class="label-img disabled">
                    <div class="drag-area">
                        <i class='bx bx-image-add'></i>
                        <p>150x150</p>
                    </div>
                </label>
                <input class="img-inp" type="file" name="smallImg" accept="image/*" id="inp-small-img" hidden>
                <%- include("../../../partials/errorMsg.ejs", {
                    className: "form-error-msg",
                    path: "smallImg"
                }) %>
            </div>
        </div>

        <div class="inp-area">
            <label for="inp-price">Preço(R$):</label>
            <input type="number" max="10000000" min="0" class="inp" name="price" value="0.00" id="inp-price">
            <%- include("../../../partials/errorMsg.ejs", {
                className: "form-error-msg",
                path: "price"
            }) %>
        </div>
        
        <div class="inp-area">
            <label for="inp-discont">Disconto(%):</label>
            <input type="number" max="100" min="0" class="inp" name="discont" value="0.00" id="inp-discont">
            <%- include("../../../partials/errorMsg.ejs", {
                className: "form-error-msg",
                path: "discont"
            }) %>
        </div>

        <div class="inp-area">
            <label for="inp-sale-price">Preço de venda(R$):</label>
            <input type="" max="10000000" min="0" class="inp" name="salePrice" id="inp-sale-price" readonly>
            <%- include("../../../partials/errorMsg.ejs", {
                className: "form-error-msg",
                path: "salePrice"
            }) %>
        </div>

        <div class="inp-area">
            <label for="inp-category-id">Categoria:</label>
            <select class="inp" name="categoryId" id="inp-category-id">
                <option value="">Nenhum</option>
                <% categories.forEach(category => { %>
                    <option value="<%= category.id %>"><%= category.name %></option>
                <% }) %>
            </select>
            <%- include("../../../partials/errorMsg.ejs", {
                className: "form-error-msg",
                path: "parentId"
            }) %>
        </div>

        <div class="form-buttons">
            <button type="submit" class="button fill-button">Cadastrar</button>
            <button type="reset" class="button out-button">Limpar</button>
        </div>
    </form>
</main>